{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ partial "page-heading.html" . }}
            <div class="markdown">
                {{ .Content }}
            </div>
            {{ with .Data.Pages }}
            <nav class="section-items">
                <ul>
                {{ range .ByWeight }}
                    <li><a {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ default .Title .Params.heading }}</a></li>
                {{ end }}
                </ul>
            </nav>
            {{ end }}
        </div>
	<!-- Begin of Chaport Live Chat code -->
          <script type="text/javascript">
           (function(w,d,v3){
            w.chaportConfig = {
            appId : '5fad689fa3357e3317fe56fa'
            };

            if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
          </script>
      <!-- End of Chaport Live Chat code -->
    </div>
</section>
{{ partial "footer.html" . }}
