{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            {{ if .Content }}
                <div class="markdown">
                    {{ .Content }}
                </div>
            {{ end }}
            <div class="page-heading">{{ i18n "web" }}</div>
            <ul>
                {{ if eq .Site.Params.bloggroupby "month" }}
                    {{ $.Scratch.Set "datespec" "Jan, 2006" }}
                {{ else if eq .Site.Params.bloggroupby "year" }}
                    {{ $.Scratch.Set "datespec" "2006" }}
                {{ end }}
                {{ if not ($.Scratch.Get "datespec") }}
                    {{ range .Data.Pages.ByPublishDate.Reverse }}
                    {{ partial "li.html" . }}
                    {{ end }}
                {{ else }}
                    {{ range .Data.Pages.ByPublishDate.GroupByDate ($.Scratch.Get "datespec") "desc" }}
                        <li class="post-item no-bullet">
                            <span class="date">{{ .Key }}</span>
                        </li>
                        {{ range .Pages.ByPublishDate.Reverse }}
                            {{ partial "li.html" . }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            </ul>
        </div>
	<!-- Begin of Chaport Live Chat code -->
          <script type="text/javascript">
           (function(w,d,v3){
            w.chaportConfig = {
            appId : '5fad689fa3357e3317fe56fa'
            };

            if(w.chaport)return;v3=w.chaport={};v3._q=[];v3._l={};v3.q=function(){v3._q.push(arguments)};v3.on=function(e,fn){if(!v3._l[e])v3._l[e]=[];v3._l[e].push(fn)};var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://app.chaport.com/javascripts/insert.js';var ss=d.getElementsByTagName('script')[0];ss.parentNode.insertBefore(s,ss)})(window, document);
          </script>
      <!-- End of Chaport Live Chat code -->
    </div>
</section>
{{ partial "footer.html" . }}

